<app-navbar title="Najlepsze cytaty"></app-navbar>

<div class="container q-container">
  <!--Dodawanie cytatu-->
  <app-button (clickButton)="form.onSwitchForm()" customClasses="btn-floating teal add-button">
    <i class="material-icons">add</i>
  </app-button>
  <app-form #form (newQuotation)="onNewQuotation($event)"></app-form>
  <!-- Koniec dodawania cytatu -->

  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <app-list [quotes]="quotes" (vote)="addVote($event.quotation, $event.value)"></app-list>
    </div>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking [quotes]="bestQuotes()" title="Najlepsze cytaty"></app-ranking>
      <app-ranking [quotes]="worstQuotes()" title="Najgorsze cytaty"></app-ranking>
    </div>
    <!-- Sekcja rankigów -->
  </div>
</div>
